.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: #d30000;
  margin-left: 120px ;
}
h2{
  color:rgb(110, 71, 23);
  margin-top: 20px;
  margin-left:132px;
}

table{
  margin-left: 140px;
  margin-top: 50px;
  border: 1px solid;
  width: 27rem;
  margin-bottom: 100px;
}
th,td{
  border:1px solid;
}
button{
  background-color: rgb(104, 251, 104);
}
table{
  background-color: rgb(246, 255, 179);
}
thead{
  background-color: rgb(252, 221, 240);
}
.card{
  margin-top: 50px;
  margin-left: 25px;
  width: 25rem ;
}
.card-title{
  color: blue;
}
section{
  margin-left: 250px;
  margin-bottom: 200px;
  
}

